* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    cursor: pointer;
}

h2 {
    margin: 5px;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
    display:inline-block;
    vertical-align:middle;
    margin-left:20px
}

label {
    display: inline-block;
    padding-top: 5px;
    margin-right: 10px;
}

.page {
    background-image: url("/static/images/hotel.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    font-family: Georgia, serif;
    background-attachment: fixed;
    min-height: 100vh;
}

.hidden {
    visibility: hidden;
}

.hidden-without-reserved-place{
    display: none;
}

/*Header */

.header {
    padding: 100 px;
    background-color: #2d353c;
    text-align: center;
    max-height: 90px;
    min-height: 90px;
    border: 1px solid;
    font-size: 17px;
    user-select: none;
    width: 100%;
    overflow: hidden;
}

.header-text {
    margin: 25px;
    flex-direction: column;
    order:2;
    width: 100%;
    text-align: left;
}

/*Header*/

/*Side Menu*/

.container {
    display: flex;
    height: 100%;
    flex-flow: column;
    justify-content: space-between;
}

.info-menu {
    display: block;
    flex-flow: column;
    flex: 2;
    justify-content: flex-start;
    background-color: #2d353c;
    height: 100%;
    border-right: solid 1px;
    /*color: #f8f8f8;*/
    /*border-right-color: black;*/
    font-size: 25px;
    user-select: none;
    margin: 40px 0 20px 0;
    width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
}

.search-button {
    font-size: 20px;
    padding: 5px;
}

/*Side Menu*/

/*Main Content*/

.main-content {
    display: flex;
    flex: 5;
    flex-flow: column;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 60px;
    margin-right: 60px;
}

.info-form {
    display: flex;
    flex-flow: column;
    overflow-y: auto;
    margin-top: 40px;
    margin: 0 auto;
    font-size: 22px;
    margin-top: 30px;
}

.info-form-field {
    margin: 5px;
}

.offer-item {
    display:flex;
    flex-flow: row;
    margin: 10px;
}

.hotel-image {
   /* display: flex;*/
    width: 150px;
    height: 150px;
}

.hotel-info {
    display: flex;
    flex-flow: column;
    margin: 0 0 10px 10px;
}

.hotel-name{
    margin-bottom: 20px;
    margin-top: 0;
}

.hotel-info-field{
    margin-bottom: 10px;    
}

.city-label{
    margin-right: 68px;
}

.city-input{
    width: 142px;
    font-size: 17px;
}

.end-date-label {
    margin-right: 19px;
}

.days-input {
    width: 142px;
    font-size: 17px;
    margin-left: 0px;
}

/*Main Content*/