{% load static %}
<!DOCTYPE html>
<html>

<header>

    <title>
        Hotels Offer
    </title>

    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <link rel='stylesheet' href='{% static "css/style.css" %}' />

</header>

<body>

    <div class="page">

        <div class="header">
          
            <h1 class="header-text">Hotels Offers</h1>

        </div>

        <div class="container">
            <div class="side-menu">
                <ul>
                    <li class="side-menu-element">
                        <label class="category-label">Risks</label>

                        <ul id="riskList">
                                <li class="side-menu-sub-element"></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="main-content">
                <h2>Fields</h2>
                    <hr>
                <form id="fieldsForm" class="form-fields">

                  </form>
            </div>

        </div>
        </div>



    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src = '{% static "script.js" %}'></script>


</html>